html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("../image/background_blue.jpg");
    background-size: cover;
}
#main_connexion
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Arial;
    animation: fadein 2s;
}

@keyframes fadein
{
    from        /* Gére l'opacité */
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
    0%          /* Gére le mouvement */
    {
        top: 70%;
    }
    100%
    {
        top: 50%;
    }
}

#main_connexion span
{
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 0.3em;
    margin-top: 8px;
}

#input_id
{
    flex: 1;
}
#mail
{
     display:flex;
    flex-direction:row
}

.ids
{
    margin-bottom: 2em;
}

.button
{
    text-align: right;
}

#main_connexion input[type=text], input[type=password] , input[type=email]
{
    padding: 8px 20px;
    border: 2px solid #fff;     /* Remplace les bordures qui par défaut sont grises */
    border-radius: 5px;
    outline: none;
}

#main_connexion input[type=text]:focus, input[type=password]:focus , input[type=email]:focus
{
    border: 2px solid #007acc;
    transition: 0.5s;
    border-radius: 5px;
}

#main_connexion input[type=text]:valid, input[type=password]:valid , input[type=email]:valid
{                                                                                               /*remplace les bordures en vert quand le champs est valid*/
    border: 2px solid green;
}

#main_connexion input[type=text]:invalid, input[type=password]:invalid , input[type=email]:invalid
{                                                                                                /*remplace les bordures en rouge quand le champs est invalid*/
    border: 2px solid red;
}

#main_connexion input[type=submit]
{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #0099ff;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}
#main_connexion input[type=submit]:hover
{
    background: #66b3ff;
    color: #fff;
}

#links
{
    margin-top: 2em;
}
#link1
{
    float: left;
}

#link2
{
    float: right;
    text-align: right;
}

footer
{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#logo_github:hover
{
    fill:#fff;
}

.lien_github
{
    float: right;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 12px;
}