body{
	background-image: url("../image/background_blue.jpg");
	background-size: cover;
	background-attachment: fixed;
}
#header{
	border: 2px solid #fff;     /* Remplace les bordures qui par défaut sont grises */
    border-radius: 3px;
	background-color: #fff;
	position: relative;
	margin-bottom: 30px;
}

input[type=button]{
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
	background-color: #5270ff;
	color: white;
}

#title{
	position: absolute;
	left:70px;
	transform: translate(0,-50%);
	top: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 3em;
}
#logo{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

#logo_img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
#deconnexion{
	float: right;
	transform: translate(-50%, -50%);
	position: absolute;
	right: 0%;
	top:50%;
}
#search{
	float: right;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top:50%;
}

.msg{
	width:50%;
    margin:auto;  
    background-color: #fff;
}

#stat{
	float: left;
}

#new_msg{
	align-content: center;
	width: 500px;
	height: 30px
}
