<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app>
	<display-name>Projet - 3I017</display-name>
 	 
	 <!-- Servlet User -->
	<servlet> 
		<servlet-name>createUser</servlet-name> 
		<servlet-class>servlet.user.CreateUser</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>login</servlet-name> 
		<servlet-class>servlet.user.Login</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>logout</servlet-name> 
		<servlet-class>servlet.user.Logout</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>forgottenPassword</servlet-name> 
		<servlet-class>servlet.user.ForgottenPassword</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>getAllLogins</servlet-name> 
		<servlet-class>servlet.user.GetAllLogins</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>getIdFromLogin</servlet-name> 
		<servlet-class>servlet.user.GetIdFromLogin</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>uploadImage</servlet-name> 
		<servlet-class>servlet.user.UploadImage</servlet-class> 
	</servlet>
	
	<!-- Servlet Friend -->  
	<servlet> 
		<servlet-name>addFriend</servlet-name> 
		<servlet-class>servlet.friend.AddFriend</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>removeFriend</servlet-name> 
		<servlet-class>servlet.friend.RemoveFriend</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>listFriend</servlet-name> 
		<servlet-class>servlet.friend.ListFriend</servlet-class> 
	</servlet>  
	 
	 <!-- Servlet Message -->
	 <servlet> 
		<servlet-name>addMessage</servlet-name> 
		<servlet-class>servlet.message.AddMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>removeMessage</servlet-name> 
		<servlet-class>servlet.message.RemoveMessage</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>listMessage</servlet-name> 
		<servlet-class>servlet.message.ListMessage</servlet-class> 
	</servlet>  
	
	<!-- Servlet Comment -->
	 <servlet> 
		<servlet-name>addComment</servlet-name> 
		<servlet-class>servlet.comment.AddComment</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>removeComment</servlet-name> 
		<servlet-class>servlet.comment.RemoveComment</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>listComment</servlet-name> 
		<servlet-class>servlet.comment.ListComment</servlet-class> 
	</servlet>
	
	 <!-- Servlet-mapping User -->
	<servlet-mapping> 
		<servlet-name>createUser</servlet-name> 
		<url-pattern>/user/createUser</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>login</servlet-name> 
		<url-pattern>/user/login</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>logout</servlet-name> 
		<url-pattern>/user/logout</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>forgottenPassword</servlet-name> 
		<url-pattern>/user/forgottenPassword</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>getAllLogins</servlet-name> 
		<url-pattern>/user/getAllLogins</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>getIdFromLogin</servlet-name> 
		<url-pattern>/user/getIdFromLogin</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>uploadImage</servlet-name> 
		<url-pattern>/user/uploadImage</url-pattern> 
	</servlet-mapping>
	
	<!-- Servlet-mapping Friend -->
	<servlet-mapping> 
		<servlet-name>addFriend</servlet-name> 
		<url-pattern>/friend/addFriend</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>removeFriend</servlet-name> 
		<url-pattern>/friend/removeFriend</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>listFriend</servlet-name> 
		<url-pattern>/friend/listFriend</url-pattern> 
	</servlet-mapping>
	
	<!-- Servlet-mapping Message -->
	<servlet-mapping> 
		<servlet-name>addMessage</servlet-name> 
		<url-pattern>/message/addMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeMessage</servlet-name> 
		<url-pattern>/message/removeMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listMessage</servlet-name> 
		<url-pattern>/message/listMessage</url-pattern> 
	</servlet-mapping>
	
	<!-- Servlet-mapping Comment -->
	<servlet-mapping> 
		<servlet-name>addComment</servlet-name> 
		<url-pattern>/comment/addComment</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeComment</servlet-name> 
		<url-pattern>/comment/removeComment</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listComment</servlet-name> 
		<url-pattern>/comment/listComment</url-pattern> 
	</servlet-mapping>
</web-app>